.fieldsets {
    display:none;
}

#dorm_name_section{
    display:none;
}

.main-body  {
    max-height: 200px;
    margin:auto;
    max-width: 90%;
}

.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25em;
    max-width: 95%;
    margin: auto;
}



#uni_heading{
    font-size: xx-large;
    font-weight: 800;
    padding-top: 2%;
    padding-bottom: 1%;
}




/*
    Filter styling
*/

#amenity_filters{
    padding:4% 3% 4% 2vw;
    margin-bottom:3%;
    margin-right: 3%;
    background-color: bisque;
}
#filter_sidenote{
    font-style: italic;
    font-weight: lighter;
}
h4 {    /*REfers to the filter checkbox title*/
    font-size:x-large;
}
.filters{
    font-size:small;
    display: inline;
    padding:0.5%;
}

/*
end of filter styling
*/


#halls_header_title{
    font-size: xx-large;
    padding: 2% 3% 2% 3%;
    
    float: left;
}

#halls_header_sort{
    float:right;
    padding: 3% 6% 2% 27%;
}


#halls{
    display: block; 
    
    margin-bottom: 10%;
}

.dorm_icon{
    float:left;
    max-width:20%;
    min-width: 90px;
    height:30%;
    
}

.hall_card{
    float:left;
}

.card_right_panel{
    padding-left: 1.5vw;
    min-width: 220px;
}

.number_of_reviews{
    float:right;
}


h3{
    font-size: x-large;
}

.overall_rating_decimal{
    font-size: large;
    display:inline;
    font-weight: bold;
}

.star-icon {
    color: orange;
  }

.star_rating{
      display: inline;
      vertical-align: middle;
}

div.star_rating i:first-of-type{
    padding-left: 2.5%;
}
    /*add media queires, look at reviews being cut. maybe overflow hidden in filters*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { body {background-color: pink; }
    h4 {    /*REfers to the filter checkbox title*/
        font-size:large;
    }}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { body {background-color: blue;} }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { body {background-color: green;} }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { body {background-color: skyBlue;} }
