.fieldsets {
    display:none;
}

#dorm_name_section{
    display:none;
}

.main-body  {
    margin:auto;
    min-width:80%;
}
/*background image*/
.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25em;
    max-width: 95%;
    margin: auto;
}

#uni_heading{
    font-size: xx-large;
    font-weight: 800;
    padding-top: 2%;
    padding-bottom: 1%;
}

/*
    Filter styling
*/

#amenity_filters{
    padding:3% 3% 4% 3%;
    background-color: bisque;
}
#filter_sidenote{
    font-style: italic;
    font-weight: lighter;
    font-size: small;
}
#filter_amenities_title {    /*Refers to the filter checkbox title*/
    font-size:medium;
}
.filters{
    font-size:small;
    display: inline;
    padding:0.5%;
}

/*
end of filter styling
*/

/**
Map panel
*/

#map_container{
    background-color: aqua;
    margin: 4% 0% 4% 0%;
}
#map_header{
text-align: center;
}
#map_icon{
    display:inline-block;
    width: 10%;
    height:auto;
    padding: 2% 0% 5% 0%;
    margin:1% 1% 2% 0%
}
#map_title{
    padding: 1% 0% 5% 0%;
    margin-top: 2%;
    font-size: large;
    display:inline-block;
}

/**
Main panel that displays the dorms
*/

#main_panel_of_dorms{
}

#dorms_header_title{
    font-size: xx-large;
    padding: 2% 0% 2% 3%;
    float: left;
}

#dorms_header_sort{
    float:right;
    text-align: right;
    padding: 3% 3% 2% 4%;
}

#dorms{ 
    display: block; 
    margin-bottom: 10%;
}

.dorm_icon{
    float:left;
    max-width:15%;
    min-width: 90px;
    height:30%;
}

.dorm_card{
    float:left;
    transition: transform .2s;
}

.dorm_card:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card_right_panel{
    padding-left: 1.5vw;
    min-width: 150px;
}

.number_of_reviews{
    float:right;
}


h3{
    font-size: x-large;
}

.overall_rating_decimal{
    font-size: large;
    display:inline;
    font-weight: bold;
}

.star-icon {
    color: orange;
  }

.star_rating{
      display: inline;
      vertical-align: middle;
}

div.star_rating i:first-of-type{
    padding-left: 2.5%;
}
    /*add media queires, look at reviews being cut. maybe overflow hidden in filters*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { body {background-color: pink; }}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { body {background-color: blue;} 
.card_right_panel{
    padding-left: 1.5vw;
    min-width: 200px;
}

#filter_amenities_title {    /*REfers to the filter checkbox title*/
    font-size:large;
}


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { body {background-color: green;}
#amenity_filters{
    padding:3% 3% 4% 1vw;

}
#filter_amenities_title {    /*REfers to the filter checkbox title*/
    font-size:x-large;
}
#filter_sidenote{
    font-size: medium;
}
.filters{
    font-size:large;
} }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { body {background-color: skyBlue;} }

/*
Admin panel
*/

.admin_container{
    max-width:70%;
}

.info_table{
    max-width:300px;
    float:left;
}


/**
Homepage
*/
@media only screen and (min-width: 769px){
#homepage_main_body{
}

#homepage_title_container{
    position: relative;
    z-index: 3;
}

#homepage_title{
    font-size: 4vw;
    font-family: 'Montserrat';
    float: left;
    padding:2em 0% 0% 1em;
    z-index: 3;
    text-shadow: 
    -1px 0 black,
    0 1px black, 
    1px 0 black, 
    0 -1px black,
    -1px -1px black,
    1px 1px black,
    -1px 1px black,
    1px -1px black;
    position: absolute;
    top:20%;
    left:15%;
}

#hompage_main_image{
    max-width: 40%;
    min-width:50px;
    height:auto;
    margin-left:-5%;
    margin-right:3vw;
    top:20%;
    position:absolute;
    left: 60%;
    bottom:10%;
}

.search{
    z-index: 5;
    float:left; 
    margin:25% 5% 2vh 5% ;
    top: 48%;
    left:10%;
}
.search_bar {
    /* This bit sets up the horizontal layout */
    display:flex;
    
    width: 35vw;
    max-height: 3%;
    /* This bit draws the box around it */
    
    /* I've used padding so you can see the edges of the elements. */
  }
  
  input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border: 1px solid blue;
  }
    
  #searh_icon {
    /* Just a little styling to make it pretty */
    border:1px solid blue;
    background-color:white;
    max-height: 35px;
    width:auto;
    cursor: pointer
  }
  .search_result{
    width: 100%;
    background-color: aliceblue;
    }
    


}
  @media only screen and (max-width: 768px)  {
    #homepage_title_container{
    float:left;    
    }
    
    #homepage_title{
        font-size: 8vw;
        font-family: 'Montserrat';
        display:block;
        text-shadow: 
        -1px 0 black,
        0 1px black, 
        1px 0 black, 
        0 -1px black,
        -1px -1px black,
        1px 1px black,
        -1px 1px black,
        1px -1px black;
        margin-top:10%;
        text-align: center;
    }
        
    #hompage_main_image{
        max-width: 90%;
        min-width:50px;
        height:auto;
        float: right;
        padding-top:5%;    
    }
    
    .search{
        z-index: 5;
        display:block;
        max-width:75%;
        margin:auto;
    }
    .search_bar {
        /* This bit sets up the horizontal layout */
        display:flex;
        min-width:30vw;
        max-height: 2%;
        /* This bit draws the box around it*/
      }

      input {
        /* Tell the input to use all the available space */
        flex-grow:2;
        /* And hide the input's outline, so the form looks like the outline */
        border: 1px solid blue;
      }
        
      #searh_icon {
        /* Just a little styling to make it pretty */
        border:1px solid blue;
        background-color:white;
        max-height: 35px;
        width:auto;
        cursor: pointer
      }
      .search_result{
        width: 100%;
        background-color: aliceblue;
    }
        

      

  }





  /**
  NavBar
  */
#write_review_button{
    max-height:30px;
    max-width:50%;
    display:flex;
    justify-content: center;


}

#write_icon{
}
#write_review_text{
    display: inline-block;
}

#arrow_icon{
}









