

/**Homepage*/

.main-body  {
    margin:auto;
    min-width:80%;
}
/*background image*/
.background{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 25em;
    max-width: 95%;
    margin: auto;
}

#uni_heading{
    font-size: xx-large;
    font-weight: 800;
    padding-top: 2%;
    padding-bottom: 1%;
}

/*
    Filter styling
*/

#amenity_filters{
    padding:3% 3% 4% 3%;
    background-color: bisque;
}
#filter_sidenote{
    font-style: italic;
    font-weight: lighter;
    font-size: small;
}
#filter_amenities_title {    /*Refers to the filter checkbox title*/
    font-size:medium;
}
.filters{
    font-size:small;
    display: inline;
    padding:0.5%;
}

/*
end of filter styling
*/

/**
Map panel
*/

#map_container{
    background-color: aqua;
    margin: 4% 0% 4% 0%;
}
#map_header{
text-align: center;
}
#map_icon{
    display:inline-block;
    width: 10%;
    height:auto;
    padding: 2% 0% 5% 0%;
    margin:1% 1% 2% 0%
}
#map_title{
    padding: 1% 0% 5% 0%;
    margin-top: 2%;
    font-size: large;
    display:inline-block;
}

/**
Main panel that displays the dorms
*/

#main_panel_of_dorms{
}

#dorms_header_title{
    font-size: xx-large;
    padding: 2% 0% 2% 3%;
    float: left;
}

#dorms_header_sort{
    float:right;
    text-align: right;
    padding: 3% 3% 2% 4%;
}

#dorms{ 
    display: block; 
    margin-bottom: 10%;
}

.dorm_icon{
    float:left;
    max-width:15%;
    min-width: 90px;
    height:30%;
}

.dorm_card{
    float:left;
    transition: transform .2s;
}

.dorm_card:hover {
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card_right_panel{
    padding-left: 1.5vw;
    min-width: 150px;
}

.number_of_reviews{
    float:right;
}


h3{
    font-size: x-large;
}

.overall_rating_decimal{
    font-size: large;
    display:inline;
    font-weight: bold;
}

.star-icon {
    color: orange;
  }

.star_rating{
      display: inline;
      vertical-align: middle;
}

div.star_rating i:first-of-type{
    padding-left: 2.5%;
}
    /*add media queires, look at reviews being cut. maybe overflow hidden in filters*/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { body {background-color: pink; }}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { body {background-color: blue;} 
.card_right_panel{
    padding-left: 1.5vw;
    min-width: 200px;
}

#filter_amenities_title {    /*REfers to the filter checkbox title*/
    font-size:large;
}


}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { body {background-color: green;}
#amenity_filters{
    padding:3% 3% 4% 1vw;

}
#filter_amenities_title {    /*REfers to the filter checkbox title*/
    font-size:x-large;
}
#filter_sidenote{
    font-size: medium;
}
.filters{
    font-size:large;
} }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { body {background-color: skyBlue;} }

/*
Admin panel
*/

.admin_container{
    max-width:70%;
}

.info_table{
    max-width:300px;
    float:left;
}


/**
Homepage
*/
@media only screen and (min-width: 769px){
#homepage_main_body{
}

#homepage_title_container{
    position: relative;
    z-index: 3;
}

#homepage_title{
    font-size: 4vw;
    font-family: 'Montserrat';
    padding:1em 0% 0% 0.8em;
    z-index: 3;
    text-shadow: 
    -1px 0 black,
    0 1px black, 
    1px 0 black, 
    0 -1px black,
    -1px -1px black,
    1px 1px black,
    -1px 1px black,
    1px -1px black;
    position: absolute;
    top:12%;
    left:15%;
}

#hompage_main_image{
    max-width: 40%;
    min-width:50px;
    height:auto;
    margin-left:-5%;
    margin-right:3vw;
    top:20%;
    position:absolute;
    left: 62%;
    bottom:10%;
}

.search{
    z-index: 5;
    float:left; 
    margin:25% 5% 2vh 5% ;
    top: 48%;
    left:10%;
}
.search_bar {
    /* This bit sets up the horizontal layout */
    display:flex;
    font-size: x-large;
    width: 35vw;
    min-width: 350px;
    height: 40px;
    /* This bit draws the box around it */
    /* I've used padding so you can see the edges of the elements. */
  }
  
  input {
    /* Tell the input to use all the available space */
    flex-grow:2;
    /* And hide the input's outline, so the form looks like the outline */
    border: 1px solid blue;
  }
    
  #searh_icon {
    /* Just a little styling to make it pretty */
    border:2px solid black;
    background-color:white;
    max-height: 40px;
    width:auto;
    cursor: pointer
  }
  .search_result{
    flex: 1;
    font-size: x-large;
    background-color: aliceblue;
    font-family: 'Montserrat';
    }
    
#site_statistics{
    margin-top:60%;
    text-align:center;
    font-size:xx-large;
}

}

@media only screen and (min-width: 1800px)  {
    #searh_icon {max-height: 60px;}
    .search_bar {height: 60px;}

}

  @media only screen and (max-width: 768px)  {
    #homepage_title_container{
    float:left;    
    }
    
    #homepage_title{
        font-size: 8vw;
        font-family: 'Montserrat';
        display:block;
        text-shadow: 
        -1px 0 black,
        0 1px black, 
        1px 0 black, 
        0 -1px black,
        -1px -1px black,
        1px 1px black,
        -1px 1px black,
        1px -1px black;
        margin-top:10%;
        text-align: center;
    }
        
    #hompage_main_image{
        max-width: 100%;
        min-width:50px;
        height:auto;
        float: right;
        padding-top:5%;    
    }
    
    .search{
        z-index: 5;
        display:block;
        max-width:75%;
        margin:auto;
    }
    .search_bar {
        /* This bit sets up the horizontal layout */
        display:flex;
        min-width:30vw;
        max-height: 2%;
        /* This bit draws the box around it*/
      }

      input {
        /* Tell the input to use all the available space */
        flex-grow:2;
        /* And hide the input's outline, so the form looks like the outline */
        border: 1px solid blue;
      }
        
      #searh_icon {
        /* Just a little styling to make it pretty */
        border:1px solid black;
        background-color:white;
        max-height: 35px;
        width:auto;
        cursor: pointer
      }
      .search_result{
        width: 100%;
        background-color: aliceblue;
        font-family: 'Montserrat';
    }
        

      

  }





  /**
  NavBar
  */

.navigation_bar{
    background-color: #CEC0C0;
}

#write_review_button{
    height:2vw;
    min-height: 32px;
    width:auto;
}









/**
Reviews For Dorm Page
*/

.reivew_content_container{
    margin:auto;
    margin:0% 5%;
}

#dorm_heading_reviews{
    font-size: 3em;
    font-weight: 900;
    font-family: 'Montserrat';
    margin-left:10%;
    padding: 3%;
}



@media only screen and (max-width: 991px)  {
    #reviews_side_panel{
        margin:5% 2vw;
    }
    #reviews_side_panel_header{
        margin-left:10%;
    }

}
@media (min-width: 776px){
    .reivew_content_container{
        margin:auto;
        width:80%;
    }
    #dorm_heading_reviews{
    font-size:4vw;
    }
        
}

#back_button{
    display: inline-block;
    background-color: antiquewhite;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom:4%;
    border-radius: 8px;
    margin-left:-5%;
    cursor:pointer;
}
#back_button_arrow_img{
    transform:rotate(180deg);
    width:auto;
    height:25px;
    display:inline-block;
}
#back_button_uni_name{
    display:inline-block;
    font-size:1em;
}

#reviews_side_panel{
    background-color: bisque;
    padding-bottom:5%;
    border-radius: 10px;
}
.star_rating_name{
    font-size: 1em;
}
.review_side_panel_title{
    font-size: 1.35em;
    margin-top: 2%;;
}

@media (min-width: 1200px) {
    .review_side_panel_title{
        font-size: 1.7em;
    }
    .star_rating_name{
        font-size: 1.25em;
    }
    #dorm_heading_reviews{
        font-size: 3.5vw;
        padding:2%;
    }
}

.review_row{
    margin:0.5%
}
.review_row_illustration_container{
    display:flex;
    align-items:center;
    justify-content:center;
}

.review_row_illustration{
    width:100%;
    min-width:140px;
    max-width:150px
}

@media only screen and (max-width: 768px)  {
    .review_row_illustration{
    min-width:100px;
}
}
.review_card_body_header{
    margin-bottom: 1vh;
    padding-bottom: 1vh;
}

.review_overall_rating_container{
    display: inline-block;
}

.review_recommends_container{
    display: block;
}
.review_recommend_icon{
    max-width:4%;
    width:25px;
    height:auto;
    margin-right:0.4vw;  
}

/*Popup for catered/selcatered rating*/
/* Popup container */
.catering_rating_parent_span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    border-bottom: 1.5px dotted;
    height: 20px;
  }

  .catering_rating_parent_span:hover{
      color:blue;
  }
  
  /* The actual popup (appears on top) */
  .catering_rating_parent_span .catering_rating_child_span {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 20%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .catering_rating_parent_span .catering_rating_child_span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .catering_rating_parent_span .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }




.review_card{
    background: #FFFFFF;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    margin:1% 1% 1% 1%;
}

.review_card_body{
    margin:1% 0% 0% 1%;
}

.clap_feature_container{
    float:right;
    width:84px;
}
.clap_icons{
    height:65px;
    width: auto;
    padding-bottom: 10%;
}
.clap_icons:hover{
    content:url('/storage/icons/clap_hover.svg');
}
.odometer{
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
}

.read_more_button{
    margin-left:48%;
}

.double_line_arrow{
    max-width:5%;
    height:13%;
    transform: rotate(90deg);
}
/*sub section, read more for review text*/
a {
	color: #0254EB
}
a:visited {
	color: #0254EB
}
a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}
.comment {
	max-width: 80%;
	background-color: #f0f0f0;
	margin: 10px;
}


/*Form Page*/

.fieldsets {
    display:none;
}

#dorm_name_section{
    display:none;
}
#write_review_header_title{
    text-align: center;
    font-weight: 900;
    padding-top:5%;
    font-size: 5em;
}

.form_body{
    margin-top: 7%;
    
    background-color:#E5DED9; 
    height: 100%;
    
    padding: 4% 4% 4% 8%;
}

label{
    font-weight: bold;
}


.starRating:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
}
.starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
  }

  .starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('/storage/icons/star_empty.svg');
    background-size : contain;
  }
  .starRating:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background      : url('/storage/icons/star_full.svg');
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
  }
.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}



























